Testing infrastructure working!

<form method='post' action='/names'>
  Player 1: <input type='text' name='player_1'><br>
  Player 2: <input type='text' name='player_2'><br>
  <input type='submit' value='Submit'>
</form>
