<%= @player_1.name + ' vs. ' + @player_2.name %>

<p>
  Player 2 hit points: <%= @player_2.health %>
</p>

<p>
  <%= @message %>
</p>

<form action='/attack' method='post'>
  <input type='submit' value='attack'>
</form>
